<%
var g_title = code+"错误";
var code = (typeof code === 'undefined'?'500':code)
%>
<% include /include/header.html %>
<div class="row middle-box text-center animated fadeInDown">
    <h1><%=code%></h1>
    <h3 class="font-bold">
        <%if(code == "404"){%>
        很抱歉，你要查找的页面找不到。
        <%}else if((code == "403")){ %>
        很抱歉，您没有访问此操作的权限!
        <%}else{%>
        很抱歉，暂时出了点小问题，我们正在努力修复!
        <%} %>
    </h3>

    <div class="error-desc">
        <div> <%= (typeof message === 'undefined'?'':message) %></div>
        <div><%= (typeof body === 'undefined'?'':body) %></div>

        <%if(g_config.debug){%>
        <div>
            <%= (typeof stack === 'undefined'?'':stack) %>
        </div>
        <%}%>
    </div>
</div>
<% include /include/footer.html %>