<!--页脚开始-->
<div id="site-footer">
    <div class="container clearfix">
        <div id="code" class="fr">
            <img src="/public/image/base/code.png" />
        </div>

        <div id="site-footer-icp" class="clearfix fr">
            <p>创客热线：0755-88662874</p>
            <div class="service-join binder-open-url"  data-url="/common/user/login?type=service">
                <img src="/public/image/base/join.png" />
            </div>
        </div>

        <div id="site-footer-navs" class="fr">
            <div class="sf-navs-in clearfix">
                <ul>
                    <li><a href="/about-us">关于我们</a></li>
                    <li><a href="/about-us#contact_us">联系我们</a></li>
                </ul>
            </div>
            <p>©2014  版权所有</p>
        </div>
    </div>
</div>
<!--页脚结束-->
<% include js.html %>