<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%
    var g_realNavType = (typeof g_navType === 'undefined' ? 'none' : g_navType);
    %>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" type="image/x-icon" href="/public/image/share/fav/favicon.ico">
    <title>
        <%if (typeof(g_pure_title)!="undefined"){
        %>
        <%= g_pure_title %>
        <%}else{
            if(typeof(g_title)!="undefined"){
            %>
            <%= (g_title+' - ')%>
            <%}%>
            <%=g_config.title%>
            <%=g_realNavType%>
            <%
        }%>
    </title>
    <%if(typeof g_keywords!=='undefined'){%><meta name="keywords" content="<%=g_keywords%>" /><%}%>
    <%if(typeof g_description!=='undefined'){ %><meta name="description" content="<%=g_description%>" /><%}%>
    <% include css.html %>