<%
   // 判断js是否已经加载过，因为有些页面可能自己include了js.html
   if(typeof locals['_hasLoaded'] !== 'undefined'){
        return '';
   }
%>
<script type="text/javascript">
    <%
        // 服务器请求的数据，共享给客户端
        for(var k in g_shareObjs) {
    %>
        var <%=k%> = <%-JSON.stringify(g_shareObjs[k])%>;
    <%
        }
    %>
    var params = <%-JSON.stringify(params)%>;
    var g_config = {
        "serverContext" : '<%=g_config.serverContext%>'
    }
</script>

<%-g_loader.loadResource('/public/js/lib/thrid-party-all.js','js',request)%>
<%-g_loader.loadResource('/public/js/lib/QH-all.js','js',request)%>
<%
if(typeof g_js !== 'undefined'){
    for(var i=0;i<g_js.length;i++){
%>
<%-g_loader.loadResource('/public/js'+g_js[i],'js',request)%>
<%
    }
}
locals._hasLoaded = true;
%>


